@page "/privacy-policy"


@layout InnerPageLayout

<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <Microsoft.AspNetCore.Components.Sections.SectionContent SectionName="PageName">
                        Privacy Policy
                    </Microsoft.AspNetCore.Components.Sections.SectionContent>
                    <PrivacyPolicySection />
                </div>
                <!-- Related Product -->
                <RelatedProductsSection />
                <!-- Related Product End -->
            </div>
            <!-- Side Bar Start -->
            <SideBarProductPage />
            <!-- Side Bar End -->
        </div>
    </div>
</div>




@code {

}
